@charset "UTF-8";

button.btn.btn-success {
  margin-right: 1%;
}

button.btn.btn-info {
  margin-right: 1%;
}
.list-group-item {
  border: none; 
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {height: 450px}

.container-fluid {
    margin-top: 20px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #fff;
    color: hsl(200, 11%, 29%);
    padding: 15px;
}

.col-sm-8 p{
color: hsl(200, 11%, 29%);
font-size: 18px;
}

.col-sm-8 a{
    position: relative;;
    bottom: 0;
    color: rgb(255, 0, 0);
}
.col-sm-8 h1{
    color: hsl(200, 21%, 41%);
    font-size: 40px;
    font-weight: bold;
}
.col-sm-8 h1.row-soft{
    padding-bottom: 2%;
    color: hsl(200, 19%, 34%);
}
.col-sm-8 img.img-fluid{
    padding-top: 1%;
}

button.btn.btn-success {
   margin-right: 1%;
}

button.btn.btn-info {
   margin-right: 1%;
}

.list-group-item {
   border: none;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
   margin-bottom: 0;
   border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
   height: 450px
}


/* Set black background color, white text and some padding */
footer {
   background-color: #fff;
   color: hsl(200, 11%, 29%);
   padding: 15px;
}

.col-sm-8 p {
   color: hsl(200, 11%, 29%);
   font-size: 18px;
}

.col-sm-8 p a {
   color: rgb(255, 0, 0);
}

.col-sm-8 a {
   position: relative;;
   bottom: 0;
}

.col-sm-8 h1 {
   color: hsl(200, 21%, 41%);
   font-size: 40px;
   font-weight: bold;
}

.col-sm-8 h1.row-soft {
   padding-bottom: 2%;
   color: hsl(200, 19%, 34%);
}


img#photo-perfil {
    width: 260px;
    height: 260px;
    box-shadow: 0 0 0 1px rgba(240,246,252,0.1);
    display: inline-block;
    flex-shrink: 0;
    line-height: 1;
    overflow: hidden;
    vertical-align: middle;
    border: 1px solid #000!important;
    aspect-ratio: auto 260 / 260;
    border-radius: 50% !important;
}