@charset "UTF-8";

button.btn.btn-success {
  margin-right: 1%;
}
button.btn.btn-info {
  margin-right: 1%;
}
.list-group-item {
  border: none; 
}
@media (min-width: 1366px){
    .col-sm-8 img{
      width: 8%;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 h1.row-soft{
        margin-top: 0;
    }
    .col-sm-8 h1{
      margin-top: 0;
    }
    .col-sm-8 p{
      margin-top: 5%;
    }
    .space
    {
      margin-bottom: 3%;
    }
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
  }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #fff;
      color: hsl(200, 11%, 29%);
      padding: 15px;
    }
    .col-sm-8 img#photo-perfil{
      width: 100px;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 img{
      width: 7%;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 p{
        color: hsl(200, 11%, 29%);
        font-size: 18px;
    }
    .col-sm-8 p a{
        color: rgb(255, 0, 0);
    }
    .col-sm-8 a{
      position: relative;;
      bottom: 0;
    }
    .col-sm-8 h1{
        color: hsl(200, 21%, 41%);
        font-size: 40px;
        font-weight: bold;
    }
    .col-sm-8 h1.row-soft{
        padding-bottom: 2%;
        color: hsl(200, 19%, 34%);
    }
    .col-sm-8 img.img-fluid{
       padding-top: 1%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    @media screen and (max-width: 500px){
    	img{
    		width: 100%;
    	}
      .col-sm-8 img {
        width: 15%;
    }
   }  
   @media screen and (max-width: 800px){
      .navbar {
        margin-bottom: -3%;
      }
      .col-sm-8 a img{
        width: 65px !important;
        height: auto;
        padding-bottom: 2%;
      }
      .sidenav {
        height: initial;
        padding: initial;
      }
   } 
   @media screen and (max-width: 414px){
      .col-sm-8 a img{
        width: 45px !important;
        height: auto;
        padding-bottom: 2%;
      }
=======
@charset "UTF-8";

button.btn.btn-success {
  margin-right: 1%;
}
button.btn.btn-info {
  margin-right: 1%;
}
.list-group-item {
  border: none; 
}
@media (min-width: 1366px){
    .col-sm-8 img{
      width: 8%;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 h1.row-soft{
        margin-top: 0;
    }
    .col-sm-8 h1{
      margin-top: 0;
    }
    .col-sm-8 p{
      margin-top: 5%;
    }
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
  }
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #fff;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #fff;
      color: hsl(200, 11%, 29%);
      padding: 15px;
    }
    .col-sm-8 img#photo-perfil{
      width: 100px;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 img{
      width: 7%;
      height: auto;
      padding-bottom: 2%;
    }
    .col-sm-8 p{
        color: hsl(200, 11%, 29%);
        font-size: 18px;
    }
    .col-sm-8 p a{
        color: rgb(255, 0, 0);
    }
    .col-sm-8 a{
      position: relative;;
      bottom: 0;
    }
    .col-sm-8 h1{
        color: hsl(200, 21%, 41%);
        font-size: 40px;
        font-weight: bold;
    }
    .col-sm-8 h1.row-soft{
        padding-bottom: 2%;
        color: hsl(200, 19%, 34%);
    }
    .col-sm-8 img.img-fluid{
       padding-top: 1%;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
    @media screen and (max-width: 500px){
    	img{
    		width: 100%;
    	}
      .col-sm-8 img {
        width: 15%;
    }
   }  
   @media screen and (max-width: 800px){
      .navbar {
        margin-bottom: -3%;
      }
      .col-sm-8 a img{
        width: 65px !important;
        height: auto;
        padding-bottom: 2%;
      }
      .sidenav {
        height: initial;
        padding: initial;
      }
   } 
   @media screen and (max-width: 414px){
      .col-sm-8 a img{
        width: 45px !important;
        height: auto;
        padding-bottom: 2%;
      }
>>>>>>> 1d96e273e5f769b6774a0a85307f1c7c4a2a02d4
   }    
